@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './button';

* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.app {
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    position: relative;
    .bg-decoration {
        position: absolute;
        right: -174px;
        bottom: -70px;
        z-index: -1;
    }
}

main {
    margin-top: 50px;
    position: relative;
}

.pulse {
    animation: pulse 1.5s ease-in-out .5s infinite
}

@keyframes pulse {
    0% {
        opacity: 1
    }
    50% {
        opacity: .4
    }
    100% {
        opacity: 1
    }
}

/* media */

@media (max-width: 1200px) {
    .app{
        width: 900px;
        .bg-decoration {
            right: -50px;
            bottom: -20px;
        }
    }
    .char__form{
        display: none;
    }
    .randomchar{
        .button{
            width: 70px;
            font-size: 10px;
        }
    }
}

@media (max-width: 1000px) {
    .app{
        width: 700px;
        .bg-decoration {
            display: none;
        }
    }
    main{
        .char__content{
            grid-template-columns: auto;
        }
    }
    
    .randomchar{
        .randomchar__block{
            grid-template-columns: auto auto;        
        }
        img{
            width: 125px;
            height: 125px;
        }
       
    }
}

@media (max-width: 800px) {
    .app{
        width: 500px;
    }
    main{
        .char__content{
            grid-template-columns: auto;
            .char__list{
                width: 100%;
            }
            .char__grid{
                grid-template-columns: repeat(2, 200px);
            }
        }
        .randomchar{
            .button{
                width: 80px;
                font-size: 10px;
            }
            img{
                width: 180px;
                height: 180px;
            }

            grid-template-columns: 1fr;
            grid-template-rows: 200px 200px;
            &__static{
                height: 100%;
                padding: 30px;
                .button{
                    margin: 10px;
                }
            }
            &__title{
                font-size: 21px;
                display: inline-block;
            }
        }
    }
}
@media (max-width: 580px) {
    .app{
        width: 350px;
    }
    main{
        .randomchar{
            grid-template-rows: 370px 350px;
            .randomchar__block{
                grid-template-columns: auto;
                grid-template-rows: auto auto;        
            }
            .randomchar__static{
                .button__main{
                    position: relative;
                    z-index: 1000;
                }
            }
        }
        .char__content{
            .char__grid{
                grid-template-columns: 100%;
                .char__item{
                    width: 350px;
                    height: 350px;
                    img{
                        width: 350px;
                        height: 250px
                    }
                }   
            }
        }
    }
}

@media (max-width: 440px) {
    .app{
        width: 250px;
        &__header{
            .app__title{
                font-size: 20px;
            }
            .app__sublink{
                font-size: 17px;
            }
        }
    }
    main{
        .char__content{
            .char__grid{
                .char__item{
                    width: 250px;
                    height: 250px;
                    img{
                        width: 250px;
                        height: 200px
                    }
                }   
            }
        }

        .randomchar{
            .randomchar__block{
                grid-template-columns: 1fr;
                grid-template-rows:repeat(2,minmax(150px 350px));  
                padding: 20px;      
            }
            &__info{
                grid-template-rows: minmax(29px, auto) auto 38px;
            }
            &__btns {
                display: flex;
                justify-content: space-between;
            }
            
        }

    }
}








